<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!--雪花分布式id生成-->
	<bean id="idWorker" class="com.qingcheng.util.IdWorker">
		<constructor-arg index="0" value="1"></constructor-arg>
		<constructor-arg index="1" value="1"></constructor-arg>
	</bean>

	<!--微信支付配置-->
	<bean id="config" class="com.github.wxpay.sdk.Config"></bean>

</beans>
